*{
    margin: 0;
}

div{
    background-color: grey;
    height:800px;
    position: relative;

}

#container{
    height: 200px;
    width: 200px;
    position: absolute;
}

div#first{
    background-color: white;
    height: 200px;
    width: 200px;
    position: relative;
}

div#second{
    background-color: white;
    height: 200px;
    width: 200px;
    position: absolute;
}

div#third{
    background-color: white;
    height: 200px;
    width: 200px;
}


div#fourth{
    background-color: white;
    height: 200px;
    width: 200px;
}