*{
    margin: 0;
}

html{
    background-color: rebeccapurple;
}

h1,h2,h3,p{
    margin-bottom: 16px;
    bottom: 0;
}


.box3{
    height:100px;
    width: 100px;
    background-color: #fa1b16;
}

.box{
    width: 300px;
    height: 400px;
    background-color: #141cfa;
    border: 2px solid red;
}

.box1{
    width:250px;
    height: 600px;
    background-color: #34fa23;
    border-radius: 6px;
}

nav{
    height: 80px;
    width: 100%;
    background-color: white;
    border-bottom-color: black;
    margin: 0 auto;

}











